# This file (docker-compose.override.yml) is intended for local development only
# local means on your computer, not on a non-prod but public machine

services:
  frontend:

    build:
      # The directory where we look for a Dockerfile
      context: ./frontend
      dockerfile: Dockerfile.development

    # Front end image to push to Docker Hub
    image: dallascaley/breakroom-frontend

    # Set the working directory inside the container at _run_ time
    working_dir: /app

    volumes:
      # Sets the frontend folder to be the app folder in the container
      - ./frontend:/app
      # Isolates the node_modules folder in the contain from the host
      - frontend_node_modules:/app/node_modules

    ports:
      # sets front-end internal/external ports to 5173 (for non-production builds)
      - "5173:5173"
    
    networks:
      # use the app-network
      - app-network

    environment:
      # backend URL accessible from frontend
      VITE_API_BASE_URL: ${VITE_API_BASE_URL}
      VITE_ALLOWED_HOST: ${VITE_ALLOWED_HOST}

    # start command for non-prod environment
    command: sh -c "npm run dev"


  backend:

    build:
      # The directory where we look for a Dockerfile
      context: ./backend
      dockerfile: Dockerfile

    # Backend image to push to Docker Hub
    image: dallascaley/breakroom-backend

    # Set the working directory inside the container at _run_ time
    working_dir: /app

    volumes:
      # sets the backend folder to be the app folder in the container
      - ./backend:/app
      # Isolates the node_modules folder in the contain from the host
      - backend_node_modules:/app/node_modules

    ports:
      # sets back-end internal/external ports to 3000
      - "3000:3000"

    networks:
      # use the app-network
      - app-network

    environment:
      # Defines the variable for _run_ time use
      NODE_ENV: ${NODE_ENV}
      # Database configuration
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      CORS_ORIGIN: ${CORS_ORIGIN}
      # Auth
      SECRET_KEY: ${SECRET_KEY}
      # AWS SES for email
      AWS_REGION: ${AWS_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      # Redis configuration
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      # S3 configuration
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      S3_BUCKET_REGION: ${S3_BUCKET_REGION}

    # only in non-prod environments, runs nodemon which
    # looks for changes live (that won't happen in production)
    command: sh -c "npm run dev"

  # reverse-proxy removed - using host nginx instead

networks:

  # The internal network all the containers use
  app-network:
    # the network's name
    name: app-network
    # Type of connection it uses
    driver: bridge

volumes:
  frontend_node_modules:
  backend_node_modules: